<?xml version="1.0" encoding="UTF-8"?>

<Configuration strict="true" name="LogConfig">
    <Properties>
        <Property name="logBaseDir">log/ssm.log</Property>
        <Property name="log.layout">%d %-5p - %l - %m%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Target>SYSTEM_OUT</Target>
            <Layout type="PatternLayout" pattern="${log.layout}"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="com.prs.dps" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>

</Configuration>