<?xml version="1.0" encoding="UTF-8"?>

<Configuration strict="true" name="LogConfig">
    <Properties>
        <Property name="logBaseDir">log/ssm.log</Property>
        <Property name="log.layout">%d %-5p - %l - %m%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="stdout">
            <Target>SYSTEM_OUT</Target>
            <ThresholdFilter level="info" onMatch="accept" onMismatch="deny"/>
            <Layout type="PatternLayout" pattern="${log.layout}"/>
        </Appender>

        <Appender type="Console" name="stderr">
            <Target>SYSTEM_ERR</Target>
            <ThresholdFilter level="error" onMatch="accept" onMismatch="deny"/>
            <Layout type="PatternLayout" pattern="${log.layout}"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <!--<AppenderRef ref="FILE"/>-->
        </Root>
        <Logger name="com.prs.dps" level="debug" additivity="false">
            <AppenderRef ref="stderr"/>
        </Logger>
    </Loggers>

</Configuration>