<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prs.dps.dao.IUserDao">

    <resultMap id="userResultMap" type="user">
        <id property="id" column="id" />
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="fullName" column="fullName"/>
        <result property="email" column="email"/>
        <result property="updateByEmail" column="updateByEmail"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultType="string">
        select fullName from `user` where id = #{id}
    </select>
</mapper>

